*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
}

.section-title{
    font-size: 2.8rem;
    font-weight: bold;
    margin-top: 60px;
    text-align: center;
}



.header{
    margin: 0 120px;
}
.navbar{
    display: flex;
    /* border: 1px solid orange; */
    justify-content: space-between;
    align-items: center;
}
.header .nav-logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-logo h2{
    font-size: 2rem;
    font-weight: bold;
}
.header ul{
    display: flex;
}
.list-item{
    list-style: none;
    margin-left: 30px;
    
}
.header nav ul a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}
#Home{
    color: #FEA301;
}
#Home:hover{
    color: #01ACFD;
}
#About{
    color: skyblue;
}
#About:hover{
    color: #1dce23;
}
#Facilities{
    color: #05D4DF;
}
#Facilities:hover{
    color: brown;
}
#Admission{
    color: #5D58EF;
}
#Admission:hover{
    color: deeppink;
}
.nav-btn{
    padding: 10px 20px;
    background-color: #FEA301;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 25px;
    cursor: pointer;
}
.nav-btn:hover{
    background-color: rgb(26, 142, 230);
    transition: 1s;
}
.marquee-container{
    display: flex;
    max-width: 576px;
    align-items: center;
    /* margin: 0 auto; */
}
.marquee-container-notice{
    background-color: #01adfdd4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.25rem;
    border-radius: 0 100px 0 100px;
    font-weight: 500;
    font-family: "Raleway", serif;
}
#marquee{
    background-color: rgba(255, 166, 0, 0.112);
    border-radius: 0 100px 0 100px;
    padding: 10px;
    color: #01ACFD;
}



.banner-container{
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    gap: 60px;
    justify-content: space-between;
}
.banner-container h2{
    font-size: 3.5rem;
    font-weight: bold;
}
.banner-container p{
    font-size: 1.25rem;
    margin-top: 20px;
}
#Empowering{
    color: #FEA301;
}
#vision{
    color: #01ACFD;
}
.banner-btn{
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 25px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px 20px;
    cursor: pointer;
}
.banner-btn:hover{
    background-color: orange;
    color: white;
    border: none;
    transition: 1s;
}
.Curriculum-section{
    text-align: center;
    background-image: url('../assets/bg.png');
}
.card-container{
    display: flex;
    margin: 80px 120px;
    gap: 30px;
    justify-content: space-between;
}
.card{
    border-radius: 15px;
    align-items: center;
    box-shadow: 0px 0px 15px 0 rgba(128, 128, 128, 0.274);
    

}
.card:hover{
    transform: scale(1.1);
    transition: 2s;
}
.card img{
    margin-top: 50px;
}
#card2 img{
    margin-top: 60px;
}
#card3 img{
    margin-top: 60px;
}
.card-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 30px;
}
.card-discription{
    margin-bottom: 40px;
    padding: 0 40px;
    line-height: 27px;
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
    font-family: "Raleway", serif;
}
.card-more{
    margin-bottom: 55px;
    font-weight: bold;
}
#read-more1{
    color: #38b0e8;
}
#read-more2{
    color: #FEA301;
}
#read-more3{
    color: rgb(198, 11, 198);
}
#card1{
    border: 1px solid #def5ff;
    background-image: linear-gradient(#DEF5FF,white,white);

}
#card2{
    border: 1px solid #f8ebcfe8;
    background-image: linear-gradient(#FFF4DC,white,white);
}
#card3{
    border: 1px solid #ece1fae9;
    background-image: linear-gradient(#F2E8FF,white,white);
}
.Curriculum-icon{
    display: flex;
    gap: 15px;
    justify-content: center;
}
#arrow{
    border: 1px solid #FEA301;
    color: white;
    background-color: orange;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
    
}
#arrow i{
    margin-top: 30%;
}
#arrow:hover{
    background-color: #01ACFD;
    transition: 0.5s;
}
.stories{
    background-image: url('../assets/bg.png'),linear-gradient(white,#e7b96b45,#e8b76293);
}
.box-container{
    display: flex;
    margin: 80px 120px;
    gap: 25px;
    justify-content: space-between;
}
.box-big{
    border-radius: 20px;
    background-color: white;
}
.box-big img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.btn-big-box{
    background-color: #3CD8E8;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 47px;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: "Raleway", serif;
}
.margin-topp{
    margin-top: -25px;
    margin-left: 35px;
}
.big-box-title{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 38px;
    margin-top: 30px;
}
.big-box-discription{
    font-size: 1rem;
    margin-top: 25px;
    color: #666666;
    font-family: "Raleway", serif;
    margin-bottom: 20px;
}

.second-box-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
.second-box-container img{
    width: 100%;
    border-radius: 18px 18px 0 0;
}
.sec-box{
    background-color: white;
    border-radius: 18px;
}

.sec-box-content{
    margin-left: 25px;
    margin-top: -22px;
}

#btn-sec-box1{
    background-color: #FEA301;
    border: none;
    padding: 10px 15px;
    border-radius: 18px;
    color: white;
    font-family: "Raleway", serif;
}
#btn-sec-box2{
    background-color: rgb(11, 194, 218);
    border: none;
    padding: 10px 15px;
    border-radius: 18px;
    color: white;
    font-family: "Raleway", serif;
}
#btn-sec-box3{
    background-color: rgb(211, 22, 170);
    border: none;
    padding: 10px 15px;
    border-radius: 18px;
    color: white;
    font-family: "Raleway", serif;
}
#btn-sec-box4{
    background-color: rgb(11, 218, 125);
    border: none;
    padding: 10px 15px;
    border-radius: 18px;
    color: white;
    font-family: "Raleway", serif;
}


.sec-box-title{
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 20px;
    
}
.story-bottom-btn{
    text-align: center;
}
.view-btn{
    background-color: black;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 12px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    margin-bottom: 40px;

}
.view-btn:hover{
    background-color: white;
    color: black;
    border: none;
    transition: 1s;
}

.footer{
    background-color: #16a59e;
}
.footer-container{
    padding: 100px 0;
    display: flex;
    justify-content: space-evenly;
}
.footer-flex-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-flex-logo img{
    height: 5rem;
    /* background-color: wheat; */
}
.footer-title{
    color: white;
    font-size: 2rem;
}
.footer-discription{
    color: white;
    margin-top: 25px;
}
.footer-about h3{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.footer-about ul li{
    list-style: none;
    margin-top: 20px;
}
.footer-about ul a{
    color: white;
    text-decoration: none;
    
}
.footer-icon h3{
    color: white;
    font-size: 1.6rem;
    margin-bottom: 30px;
}

/* Mobile Responsive Styles Section */
@media screen and (max-width:576px) {
    .header{
        margin: 0 20px;
        
    }
    .navbar{
        border-bottom: 1px  solid orange;
        margin: 0 -20px;
    }
    .nav-logo img{
        padding: 5px 0 5px 20px;
    }
    .nav-logo h2{
        display: none;
    }
    .header ul{
        display: none;
    }
    .nav-btn{
        display: none;
    }
    .bar3{
        padding-right: 20px;
        font-size: 1.5rem;
        color: black;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-text{
        text-align: center;
        font-size: 1.5rem;
    }
    .section-title{
        font-size: 1.7rem;
        margin-top: 80px;
    }
    .card-container{
        flex-direction: column;
        margin: 30px 30px;
    }
    .Curriculum-icon{
        display: none;
    }
    .box-container{
        flex-direction: column;
        margin: 40px 20px;
    }
    .box-big{
        display: none;
    }
    .second-box-container{
        gap: 10px;
    }
    .sec-box{
        background-color: white;
        border-radius: 18px;
    }
    .sec-box-content{
        margin-left: 15px;
        margin-top: -22px;
    }
    
    #btn-sec-box1{
        background-color: #FEA301;
        border: none;
        padding: 7px 12px;
        border-radius: 18px;
        color: white;
    }
    #btn-sec-box2{
        background-color: rgb(11, 194, 218);
        border: none;
        padding: 7px 12px;
        border-radius: 18px;
        color: white;
    }
    #btn-sec-box3{
        background-color: rgb(211, 22, 170);
        border: none;
        padding: 7px 12px;
        border-radius: 18px;
        color: white;
    }
    #btn-sec-box4{
        background-color: rgb(11, 218, 125);
        border: none;
        padding: 7px 12px;
        border-radius: 18px;
        color: white;
    }
    .sec-box-title{
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .footer-container{
        flex-direction: column;
        gap: 40px;
        padding: 50px 30px;
    }
}


/* Desktop Responsive styles */
@media screen and (min-width:992px) {
    .bar3{
        display: none;
    }
}